[Install]
WantedBy=multi-user.target

[Unit]
Description     = ERC721 Owner Parser
Requires        = network.target

[Service]
Type            = simple
TimeoutStartSec = 10s
Restart         = always
RestartSec      = 10
WorkingDirectory= <location of script>
ExecStart       = npx hardhat run scripts/ownerParser.js --network astar
LimitNOFILE     = 500000
LimitNPROC      = 500000
User            = user
Group           = user

[Install]
WantedBy        = default.target